.about {
  display: flex;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100dvh;
}

.about .aboutDetails {
  color: white;
  filter: drop-shadow(0.05em 0.05em black);
  text-align: start;
  padding: 25px;
}

.about .aboutDetails h1{
  font-size: 45px;
}

.about .aboutDetails h3 {
  font-size: 35px;
}

@media screen and (min-width: 768px) {
  .about {
  position: relative;
  }

  .about .aboutDetails {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .about .aboutDetails h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
  }

  .about .aboutDetails h3 {
    font-size: 40px;
  }
}
