* {
  margin: 0;
  direction: rtl;
  box-sizing: border-box;

}

.App {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(151, 144, 151);
  background: linear-gradient(
    90deg,
    #e5eaf5 0%,
    #e4d9da 100%
  );
}

.hederAndNavContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.FullScreenNavbar {
  display: inline;
}

.MobileNavbar {
  display: none;
}

.Hamburger {
  display: none;
}

@media screen and (min-width:768px) and (max-width:900px) {
  .App {
    margin-top: 220px;
  }
}

@media screen and (max-width:768px) {
  .App {
    margin-top: 175px;
  }

  .hederAndNavContainer {
    
  }

  .Hamburger {
    display: inline;
    /* display: block;
    width: 100%; */
    position: absolute;
    top: 135px;
    right: 5px;
  }
}
