* {
  margin: 0;
  direction: rtl;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(151, 144, 151);
  background: linear-gradient(
    90deg,
    #e5eaf5 0%,
    #e4d9da 100%
  );
}
